---

---
<section class="grid grid-cols-1 gap-0 bg-blue-100 bg-opacity-25 md:grid-cols-2">
    <div class="flex flex-col items-start justify-center px-4 py-24 lg:px-20">
      
      <h1 class="mb-6 text-4xl font-bold leading-tight text-blue-900 md:text-4xl lg:text-5xl">"Preparando niños y jóvenes para el futuro."</h1>
      
      <p class="pr-0 mb-4 text-sm text-blue-800 tracking-relaxed lg:pr-16">Con una enseñanza de primer nivel y docentes de calidad que son el fundamento de la capacitacion estudiantil.</p>
    </div>
    <div>
      <img
        src="https://images.unsplash.com/photo-1531548731165-c6ae86ff6491?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"
        alt="3 women looking at a laptop"
        class="object-cover w-full h-64 bg-gray-100 md:h-full"
        loading="lazy"
      />
    </div>
  </section>